.homepage,
.footer {
  background-color: #51869e;
}

.homepage {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.main-container,
.navbar,
.rates-container {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.about-me-container {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.rates-button {
  background-color: #51869e;
}

.footer {
  row-gap: 1rem;
}

.rates {
  margin-bottom: 76px;
}

.contact-me {
  margin-bottom: 196px;
}
